/* Custom Marp Theme */

@charset "UTF-8";

@import "default";

section {
  font-family: "Inter", sans-serif;
  color: #222;
}

h1, h2, h3 {
  font-weight: 700;
  color: #0055aa;
}

section::after {
  content: attr(data-marp-pagination);
  position: absolute;
  bottom: 12px;
  right: 24px;
  color: #666;
  font-size: 0.7rem;
}
